*{
    padding: 0;
    margin: 0;
}

form{
    border:1px solid blue;
    border-radius: 10px;
    width: 33%;
    margin: auto;
    margin-top: 15%;
    padding: 50px 20px;
    text-align: center;
    background-color: aqua;
    
}
form>*{
    margin-bottom: 20px;
}

button{
    padding: 3px;
    border-radius: 3px;
    border: none;
}